@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "bootstrap-icons/font/bootstrap-icons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
.swiper {
    width: 600px;
    height: 300px;
}
.swiper-button-next,
.swiper-button-prev {
    color: #000; /* Example: Set arrow color */
    z-index: 10; /* Ensure buttons are above other elements */
}

#scrollContainer::-webkit-scrollbar {
    display: none; /* Hide default scrollbar */
}

#scrollRight {
    cursor: pointer;
    z-index: 10;
}
.marquee {
    width: 100%; /* Sesuaikan dengan lebar kontainer */
    overflow: hidden;
    position: relative;
}

.marquee-content {
    display: inline-block;
    white-space: nowrap;
    padding-left: 100%; /* Jarak awal dari kanan */
    animation: marquee 30s linear infinite; /* Durasi dan pengulangan animasi */
}

/* Animasi marquee */
@keyframes marquee {
    0% {
        transform: translateX(0); /* Mulai dari kanan */
    }
    100% {
        transform: translateX(-100%); /* Berjalan ke kiri */
    }
}

.marquee-content span {
    padding-right: 100px; /* Jarak antara dua blok teks */
}
